html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.piece {
  background-color: #0f790f;
  width: 200px;
  height: 200px;
  /* perspective: 1000px; */
  border: 2px solid #212121;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece__inner,
.piece__can-put {
  display: none;
  width: 75%;
  height: 75%;
}

.piece__inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.piece__can-put {
  border-radius: 50%;
}

.piece__black,
.piece__white {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.piece__black {
  background: radial-gradient(circle, hsl(0, 0%, 25%) 0%, hsl(0, 0%, 0%) 75%);
}

.piece__white {
  background: radial-gradient(circle, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 95%) 90%);
  transform: rotateY(180deg);
}

.piece[data-piece="black"] .piece__inner {
  display: block;
}

.piece[data-piece="white"] .piece__inner {
  display: block;
  transform: rotateY(180deg);
}

.piece[data-piece="can-put-black"] .piece__can-put {
  display: block;
  background: radial-gradient(circle, hsl(0, 0%, 25%) 0%, hsl(0, 0%, 0%) 75%);
  opacity: 0.5;
}

.piece[data-piece="can-put-white"] .piece__can-put {
  display: block;
  background: radial-gradient(circle, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 95%) 90%);
  opacity: 0.5;
}

.toggle-btn {
  margin-top: 50px;
  padding: 0.6rem 1.8rem;

  font-size: 1em;
  text-transform: uppercase;

  border: 0;
  border-radius: 0.25rem;
  background-color: #212529;
  color: #fff;
  cursor: pointer;
}
