.form-control:focus,
.form-select:focus {
  border-color: #1a1e21;
  box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}

.form-control:disabled,
.form-select:disabled {
  background-color: #f2f2f2;
}

body {
  background: #f2f2f2;
}

.bb-container {
  width: calc(var(--square-size) * 25);
  margin: 0 auto;
}

.bb-board {
  display: grid;
  grid-template-columns: repeat(10, var(--square-size));
  grid-template-rows: repeat(10, var(--square-size));
}

.bb-board__square {
  width: var(--square-size);
  height: var(--square-size);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#bbShipsSelect,
#bbShipsDirection {
  width: 10em;
}

.bb-input-ship-position {
  width: 5em;
}

#bbShipPreview {
  opacity: 0.8;
}

.bb-ship-preview {
  display: flex;
}

.bb-ship-preview--horizontal {
  flex-direction: row;
}

.bb-ship-preview--vertical {
  flex-direction: column-reverse;
}

.bb-ship__body {
  background-color: #212529;
}

.bb-ship--horizontal .bb-ship__body {
  width: var(--square-size);
  height: calc(var(--square-size) * 0.6);
  margin: calc(var(--square-size) * 0.2) 0;
}

.bb-ship--horizontal .bb-ship__body.bb-ship__body--tail {
  width:calc(var(--square-size) * 0.8);
  margin-left: calc(var(--square-size) * 0.2);
  border-radius: 25% 0 0 25% / 50% 0 0 50%;
}

.bb-ship--horizontal .bb-ship__body.bb-ship__body--head {
  width:calc(var(--square-size) * 0.8);
  margin-right: calc(var(--square-size) * 0.2);
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
}

.bb-ship--vertical .bb-ship__body {
  height: var(--square-size);
  width: calc(var(--square-size) * 0.6);
  margin: 0 calc(var(--square-size) * 0.2);
}

.bb-ship--vertical .bb-ship__body--tail {
  height: calc(var(--square-size) * 0.8);
  margin-bottom: calc(var(--square-size) * 0.2);
  border-radius: 0  0 50% 50% / 0 0 25% 25%;
}

.bb-ship--vertical .bb-ship__body--head {
  height: calc(var(--square-size) * 0.8);
  margin-top: calc(var(--square-size) * 0.2);
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.bb-ship--red .bb-ship__body {
  background-color: #af0404;
}
